.aboutMainContainer {
    border: 3px solid green;
    border-radius: 12px;
    width: 30%;
    margin: 16px auto;
    text-align: center;
    justify-content: center;
}

.textContainer{
    margin: 16px;
    text-align: justify;
    text-align-last: center;
}

.chip{
    display: inline;
}

.chips{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}