.buttonBackground{
    display: inline;
}

.button{
    background-color: green;
    border: none;
    padding: 10px 40px;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    display: inline;
}

.button:hover{
    background-color: rgb(87, 163, 87);
}

.buttonText{
    display: inline;
}
