.photoContainer {
    display: inline;
    margin-top: 20px;
}

.photo {
    width: 300px;
    height: 400px;
    margin-top: 20px;
    margin-left: 60px;
    object-fit: cover;
}

.mainInfo {
    position: relative;
}

.ageAndSex {
    position: absolute;
    display: inline;
    margin-top: 80px;
    margin-left: 40px;
}

.nameAndEdit{
    position: absolute;
    display: inline;
    margin-top: 20px;
    margin-left: 40px;
}

.editButton{
    display: inline;
}

.name {
    display: inline;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-right: 50px;
}

.age {
    display: inline;
    margin-right: 100px;
    font-size: 20px;
    font-weight: 500;
}

.sex {
    display: inline;
    font-size: 20px;
    font-weight: 500;
}

.locaton {
    position: absolute;
    display: inline;
    margin-top: 130px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
}

.phoneNumber {
    position: absolute;
    display: inline;
    margin-top: 170px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
}

.interestsContainer {
    position: absolute;
    display: inline;
    margin-left: 40px;
    margin-top: 210px;
}

.interestsTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.chip {
    display: inline;
}

.aboutInfo {
    position: absolute;
    display: inline;
    width: 700px;
    margin-left: 40px;
    margin-top: 300px;
    border: 3px solid green;
    border-radius: 12px;
    padding: 10px;
}

.aboutTitle {
    font-size: 22px;
    font-weight: 600;
}

.aboutContent{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}